<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wzj.work.salesmanapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Tools.Until3"
        android:allowBackup="true"
        android:icon="@mipmap/p144"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <activity android:name=".Activity.Main2Activity" />
        <activity android:name=".Activity.StoreActivity" />
        <activity android:name=".Activity.DishesManageActivity" />
        <activity android:name=".Activity.BuyManageActivity" />
        <activity android:name=".Activity.AddDishesActivity" />
        <activity android:name=".Activity.AddStoreActivity" />
        <activity
            android:name="com.zfdang.multiple_images_selector.ImagesSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.CityListActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".Activity.CityListActivity2"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".Activity.TakeOutManageActivity" />
        <activity android:name=".Activity.CashManageActivity" />
        <activity android:name=".Activity.AddCashActivity" />
        <activity android:name=".Activity.FoodApplyActivity" />
        <activity android:name=".Activity.ManageTakeOutActivity" />
        <activity android:name=".Activity.AddTakeoutTypeActivity" />
        <activity android:name=".Activity.AddGroupBuyActivity" />
        <activity android:name=".Activity.AddMtoFoodActivity"></activity>
    </application>

</manifest>